body {
    background-color: #DDBEA8;
}
div {
    text-align: center;
  }
header {
    text-align: center;
    background-color: #246A73;
    font-size: 50px;
}
p {
    font-size: 30px;
}
  img {
    width: 20%;
    height: 20%;
    border: 20px solid burlywood;
  }
footer {
    text-align: center;
    background-color: bisque;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #368F8B;
    overflow-x: hidden;
    padding-top: 10px;
  }